@font-face {
  font-family: "Mukta Malar";
  src: url(./fonts/MuktaMalar-Light.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Mukta Malar";
  src: url(./fonts/MuktaMalar-Regular.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Mukta Malar";
  src: url(./fonts/MuktaMalar-SemiBold.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Mukta Malar";
  src: url(./fonts/MuktaMalar-ExtraBold.ttf);
  font-stretch: normal;
  font-style: normal;
  font-weight: 800;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Mukta Malar", Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
  width: 100%;
  font-size: 10px;
}

body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div,
body,
p {
  box-sizing: border-box;
}

h1 {
  font-size: 3.7rem;
  line-height: 6rem;
  font-style: normal;
  font-weight: 800;
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 8px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
